@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');
#homework_list  table {
    border-collapse: collapse;
    width: 95%;
    margin: 10px auto;
    padding: 10px !important;
    border: none;
}
tr.new_table td{
    border:none !important;
    padding:12px !important;
}
tr.new_table th, tr.new_table td{
  border: none;
  border-bottom:1.8px solid rgba(255, 255, 255, 0.1) !important;
}
tr.new_table th{
  padding-top: 20px !important;
}
tr.new_table > * {
    padding: 5px 8px;
    font-size: 13px;
}

.margin_div{
  width:calc(100% - 100px) !important;
  margin: 20px !important;
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, .2) !important;
  padding:10px 30px !important;
}
.margin_div table{
  width: 100%;
}

#homework_list > div > div {
    margin-bottom: 0px !important;
    display: flex;
    justify-content: space-between;
}
.margin_div tr td,.margin_div tr td a{
  pointer-events: none !important;
  transition: .3s !important;
}
.margin_div tr td a{
  transition: .3s !important;
  pointer-events: auto !important;
  text-decoration: none;
}
.margin_div tr:nth-last-child(n+2):hover td{
  border-bottom:1.8px solid rgba(255, 255, 255, 0) !important;
}
.margin_div tr:hover td{
  background-color: rgb(74,77,84) !important;
}
.margin_div tr:hover a{
  background-color: rgb(74,77,84) !important;
}
progress {
    display: block;
    margin: 13px auto 5px auto;
    width: 182px;
}

.progress_label {
    text-align: center;
    margin: 12px 0px;
}


/* ここから自作 */
/*.一旦元のは移行 */

.courseCardUser, .term{
  display: none;
}
