@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');
*{
  background-color:	rgb(53,57,65) !important;
  color:#fff !important;
  font-family: 'Sawarabi Gothic', sans-serif !important;
}
#stage{
  /* 外枠を消去 */
  border-left:none !important;
  border-right: none !important;
}


/* ヘッダー部分 */
#system{
  /* ヘッダーを消去 */
  display: none !important;
}
#cs_loginInfo{
  padding: 20px 0 !important;
  border: none !important;
}
#cs_loginInfo_left{
  margin-left: 20px !important;
}
#side_menu2{
  display: none !important;
}
#footer{
  display: none !important;
}
input{
  width:100px !important;
  height: 20px !important;
  border: 2px solid rgba(255,255,255,0.1);
  cursor: pointer;
  border-radius: 5px;
}
img{
  display: none !important;
}
#title h2{
  background-image: none !important;
  padding-left: 10px !important;
}
.label{
  background-image: none !important;
}
#side_menu .label{
  text-align: center;
}
#side_menu ul{
  margin: 0  !important;
}
#cs_login{
  border:none !important;
}
#cs_login table{
  margin: 0 auto !important;
}
