#system{
  display: none !important;
}
*{
  background-color:	rgb(53,57,65) !important;
  color:#fff !important;
  font-family: 'Sawarabi Gothic', sans-serif !important;
  border-color: rgba(255,255,255,0.1) !important;
  border-width: 2px !important;
}

#stage{
  /* 外枠を消去 */
  border-left:none !important;
  border-right: none !important;
}
#system{
  display: none !important;
}
#cs_loginInfo{
  padding: 20px 0 !important;
  border: none !important;
}
#cs_loginInfo_left{
  margin-left: 20px !important;
}
#home{
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, .2) !important;
  border: none !important;
  pointer-events: none;
  transition: .3s;
}
#home a{
  text-decoration: none !important;
  pointer-events: auto;
}
#cs_fullHeadVox{
  margin-bottom: 15px !important;
  height:39px !important;
}
#cs_fullHeadTitle{
  height:100% !important;
}
#repo{
  background-image: none !important;
  padding: 5px 0 4px 10px !important;
}
.menu_out,.menu_out2{
  padding:7px 0 !important;
}
.menu_out img,.menu_out2 img{
  display: none;
}
.menu_out a,.menu_out2 a{
  border: 1.5px solid rgba(255,255,255,0.1);
  border-radius: 5px;
  background-image: none !important;
  padding:5px 20px !important;
  transition: .5s !important;
}
.menu_out a:hover,.menu_out2 a:hover{
  background-color: rgb(74,77,84) !important;
}
#mat{
  background-image: none !important;
  padding-left: 0 !important;
}
#cs_fullHeadLeft{
  display: none !important;
}
#matRef{
  display: none !important;
}
#cs_fullHeadTitle div a img{
  display: none !important;
}
#home:hover{
  background-color: rgb(74,77,84) !important;
}
#main{
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, .2) !important;
  margin:0 20px !important;
  padding: 20px !important;
}
.cs_h301{
  border-left: none !important;
  background-color: #12172a !important;
  padding: 15px !important;
  border-radius: 5px;
}
.courseTable3 td, .courseTable3 th{
  border-bottom:none !important;
}
.courseTable3 td:nth-last-child(1) a{
  pointer-events: none !important;
  text-decoration: none;
}
.box01{
  border:none !important;
}
.box02 img{
  display: none !important;
}
.ifrVoxHead{
  display: none !important;
}
#sansyo #cs_headerIfr{
  background-image: none !important;
}
.nonBdr img{
  display:none !important;
}
strong{
  display: none !important;
}
.cs_table3b td #makeFile0 button{
  border: 1.5px solid rgba(255,255,255,0.1);
  width: 300px !important;
  padding:5px 20px !important;
  border-radius: 5px;
  cursor: pointer;
  background-color:	rgb(53,57,65) !important;
}
#addButton{
  padding:5px 20px !important;
  border-radius: 5px;
  cursor: pointer;
}
textarea{
  border:none !important;
}
textarea:focus{
  outline: none !important;
}
.ui-resizable-handle{
  border:none !important;
}
/* フッター */
#footer{
  display: none !important;
}
