#system{
  display: none !important;
}
#cs_fullHeadVox, #cs_top_faseVox{
  display: none !important;
}
*{
  background-color:	rgb(53,57,65) !important;
  color:#fff !important;
  font-family: 'Sawarabi Gothic', sans-serif !important;
}
#stage{
  /* 外枠を消去 */
  border-left:none !important;
  border-right: none !important;
}
#system{
  display: none !important;
}
#cs_loginInfo{
  padding: 20px 0 !important;
  border: none !important;
}
#cs_loginInfo_left{
  margin-left: 20px !important;
}
#home{
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, .2) !important;
  border: none !important;
  pointer-events: none;
  transition: .3s;
}
#home a{
  text-decoration: none !important;
  pointer-events: auto;
}
#home:hover{
  background-color: rgb(74,77,84) !important;
}
#main{
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, .2) !important;
  margin:0 20px !important;
  padding: 20px !important;
}
.cs_h301{
  border-left: none !important;
  background-color: #12172a !important;
  padding: 12px !important;
  border-radius: 5px;
}
.courseTable3 td, .courseTable3 th{
  border-bottom:none !important;
}
.box01{
  border:none !important;
}
.box02 img{
  display: none !important;
}
.ifrVoxHead{
  display: none !important;
}
#cs_headerIfr{
  background-image: none !important;
}
.nonBdr img{
  display:none !important;
}
strong{
  display: none !important;
}
#addButton{
  border:1px white solid !important;
}
textarea{
  border:none !important;
}
textarea:focus{
  outline: none !important;
}
.ui-resizable-handle{
  border:none !important;
}
/* フッター */
#footer{
  display: none !important;
}
