*{
  background-color:	rgb(53,57,65) !important;
  color:#fff !important;
  font-family: 'Sawarabi Gothic', sans-serif !important;
}
#stage{
  /* 外枠を消去 */
  border-left:none !important;
  border-right: none !important;
}
#system{
  display: none !important;
}
#cs_loginInfo{
  padding: 20px 0 !important;
  border: none !important;
}
#cs_loginInfo_left{
  margin-left: 20px !important;
}
#home{
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, .2) !important;
  border: none !important;
  pointer-events: none;
  transition: .3s;
}
#home a{
  text-decoration: none !important;
  pointer-events: auto;
}
#home:hover{
  background-color: rgb(74,77,84) !important;
}
#cs_top_faseVox{
  display: none;
}
#cs_tab_area{
  display: none !important;
}
#main_bk{
  margin-left: 260px !important;
}
#main{
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, .2) !important;
}
#cs_rightVox{
  border: none !important;
}
.cs_hideVox{
  margin-bottom: 0px !important;
  border-bottom:1.5px solid rgba(255, 255, 255, 0.1) !important;
}
.cs_hideVox a{
  padding: 10px 0 !important;
}
.cs_hideVox_left input{
  width: 24px !important;
  border:2px solid rgba(255, 255, 255, 0.3) !important;
  margin-top:9px !important;
}
.cs_hideVox_right{
  padding:10px !important;
}
.courseTable1 tr{
  padding-left: 10px !important;
}
.courseTable1 td{
  border-bottom:1.5px solid rgba(255, 255, 255, 0.1) !important;
}
.td01{
  padding-left: 20px !important;
}
.td01 img{
  display: none !important;
}
.courseTable1{
  margin-bottom:0 !important;
}
.messageArea{
  margin:5px 0 !important;
}
.messageArea p{
  background: none !important;
  padding-left: 5px 0  5px 3px !important;
}
.courseTable1 tbody tr td,.courseTable1 tbody tr td a{
  pointer-events: none !important;
  transition: .3s !important;
}
.courseTable1 tbody tr td a{
  pointer-events: auto !important;
  text-decoration: none;
}
.courseTable1 tbody tr:hover td{
  background-color: rgb(74,77,84) !important;
  border-bottom:1.5px solid rgba(255, 255, 255, 0) !important;
}
.courseTable1 tbody tr:hover a{
  background-color: rgb(74,77,84) !important;
}
td span{
  background-image: none !important;
}
.cs_taOpen{
  background-color: #fff !important;
  color: #353941 !important;
}
.cs_taextend{
  background-color: #f85d65 !important;
}
.state-background{
  display: inline-block;
  width: 65px !important;
  padding: 0.5em 0;
  font-size: .8em;
  transition: .5s;
  pointer-events: none;
  text-shadow: 0 0 10px #555;
}
.state-background:hover{
  opacity: 0.7;
}
.state-background:hover .link{
  background-color: #28c3b2 !important;
}
.yet{
  background-color: #f85d65 !important;
}
.already{
  background-color: #28c3b2 !important;
}
.unwatched{
  background-color: #f5ae02 !important;
}
.link{
  pointer-events: auto;
}
/* お知らせ欄 */
#side_menu{
  margin:0 20px !important;
  padding:10px !important;
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, .2) !important;
}
#side_menu ul .label{
  background-image: none !important;
  background-color: #12172a !important;
  border-radius:5px;
  font-size: 80%;
  padding: 7px 7px 7px 16px !important;
}
#side_menu li{
  border:none !important;
}
#side_menu #M0028,#side_menu #M0029,#side_menu #M0039,#side_menu #M0041{
  border-bottom:1.5px solid rgba(255, 255, 255, 0.1) !important;
}
#side_menu a{
  padding:5px 0 5px 16px !important;
  transition: .3s;
}
#side_menu a:hover{
  background-color: rgb(74,77,84) !important;
}
.top{
  display:none !important;
}
/* フッター */
#footer{
  display: none !important;
}

/* 成績参照 */
#rating_block td, #rating_block th{
  border:1.5px solid rgba(255, 255, 255, 0.1) !important;
}
#list_form td img{
  display: none;
}
#list_form td, #list_form th{
  border:1.5px solid rgba(255, 255, 255, 0.1) !important;
}

/* シラバス */
.cs_h301{
  border: none !important;
}
.yellow{
  border: none !important;
}
.cs_h301 + table td, .cs_h301 + table th{
  border:1.5px solid rgba(255, 255, 255, 0.1) !important;
}

/* 掲示板 */
.box04 img{
  display: none;
}