* {
  border: none !important;
}
body {
  line-height: 1.5;
  background-color: var(--background) !important;
  color: #a7a9be;
}
body * {
  background-color: var(--background) !important;
  color: var(--text) !important;
  border-color: var(--border) !important;
}
.base {
  padding-top: 76px !important;
}

/* header */
.headerContents {
  background-color: transparent !important;
  padding: 0 !important;
  height: 48px !important;
  backdrop-filter: blur(3px);
}
.header li,
.header .userAction,
.userAction * {
  background-color: transparent !important;
}
.header {
  background-color: transparent !important;
  border-bottom: #ddd;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1) !important;
}
.iconText span {
  vertical-align: baseline !important;
}
.titleLogo {
  background-color: transparent !important;
  padding: 12px 0 !important;
}
.flex {
  background-color: transparent !important;
  display: flex;
  align-items: flex-end;
}
.flex * {
  background-color: transparent !important;
}
.flex h1 {
  margin-right: 10px;
  color: var(--text);
  font-weight: bold;
}
.primary {
  color: var(--primary) !important;
}
.flex h4,
.newsTitle,
.courseCardName,
#homehomlInfo a,
.userAction ul li a,
#langchange,
.textoverflow {
  color: var(--text) !important;
}
div#addMess4 p {
  background-image: none !important;
}
.cs_Bt {
  border: 1px solid var(--border) !important;
}
.cpPopup,
.topic {
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1) !important;
}
.cpPopupHeader {
  background-color: var(--primary) !important;
  color: var(--primaryText) !important;
}
input {
  background-color: var(--secondary) !important;
  outline: none;
  padding: 10px !important;
  border-radius: 5px;
}
.cpButton,
.cpButton span {
  background-color: var(--primary) !important;
  color: var(--primaryText) !important;
}
