*{
  background-color:	rgb(53,57,65) !important;
  color:#fff !important;
  font-family: 'Sawarabi Gothic', sans-serif !important;
}
#stage{
  /* 外枠を消去 */
  border-left:none !important;
  border-right: none !important;
}


/* ヘッダー部分 */
#system{
  /* ヘッダーを消去 */
  display: none !important;
}
#cs_loginInfo{
  padding: 20px 0 !important;
  border: none !important;
}
#cs_loginInfo_left{
  margin-left: 20px !important;
}
#home{
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, .2) !important;
  border: none !important;
}


/* 未実施の課題及び講義一覧の見出し */
#title,#title h2{
  background-color:#12172A !important;
  padding: 8px !important;
  background-image: none !important;
  border-radius: 5px;
  border: none !important;
}
#title h2 span{
  background: #353941 !important;
  padding:3px 7px;
  font-size: 80% !important;
  pointer-events: none;
  transition: .3s;
}
#title h2 span:hover{
  background-color: rgb(74,77,84) !important;
}
#title h2 span a{
  text-decoration: none;
  pointer-events: auto;
}
#title h2 span img{
  display: none !important;
}
#title button{
  border: none !important;
  width: 7% !important;
  cursor: pointer;
  transition: .3s;
}
#title button:hover{
  background-color: rgb(74,77,84) !important;
}
#homework_list #title{
  margin:0 0 0 20px !important;
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, .2) !important;
}
#main_bk #title{
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, .2) !important;
}


/* 講義一覧 */
.cs_formcap{
  /* 講義一覧のよく分からん説明を消去
 */
  display:none !important;
}
#cs_content{
  margin: 0 !important;
}
#main{
  padding: 0 !important;
  margin: 0 !important;
  margin-right: 20px !important;
}
#main_bk{
  margin-left: 360px !important;
}
#cs_rightVox3 .cs_table1:nth-of-type(1) tbody tr td:nth-last-child(-n+2),.cs_table1 tbody tr td:nth-last-child(-n+2) a{
  /* 通年かどうかと教授の名前を消去 */
  text-indent: 120% !important;
  white-space: nowrap !important;
  overflow: hidden !important;
}
.cs_table1{
  width: 100% !important;
  margin: 20px 0 20px 0 !important;
  padding:20px !important;
  padding-right: 50px !important;
  border:none !important;
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, .2) !important;
}
.cs_table1 tbody tr td,.cs_table1 tbody tr td a,.cs_table1 tbody tr th{
  pointer-events: none !important;
  transition: .3s !important;
}
.cs_table1 tbody tr td a{
  pointer-events: auto !important;
}
.cs_table1 tbody tr:hover td{
  background-color: rgb(74,77,84) !important;
}
.cs_table1:nth-of-type(1) tbody tr:hover td{
  border-bottom:1.5px solid rgba(255, 255, 255, 0) !important;
}
.cs_table1 tbody tr:hover a{
  background-color: rgb(74,77,84) !important;
}
.cs_table1 tbody tr td,.cs_table1 tbody tr th{
  border-bottom:1.5px solid rgba(255, 255, 255, 0.1) !important;
}
.cs_table1 tbody tr td:nth-child(1){
  padding: 5px !important;
}
.cs_table1 tbody tr td:nth-last-child(3){
  padding: 10px 0 !important;
}
.cs_table1 tbody tr td span{
  /* 仮登録アイコンを消去 */
  display: none !important;
}
.cs_table1 tbody tr th{
  /* 曜日の左のborderを消去 */
  border-left: none !important;
}
.cs_table1 a{
  text-decoration: none;
  pointer-events: auto;
}
.cs_table1:nth-of-type(2) td,.cs_table1:nth-of-type(2) th{
  border: none !important;
  transition:0s;
}

/* お知らせ欄 */
#side_menu{
  margin:0 20px !important;
  padding:10px !important;
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, .2) !important;
}
#side_menu ul{
  margin: 0 !important;
}
#side_menu ul .label{
  background-image: none !important;
}
#side_menu ul li{
  list-style: none !important;
  margin: 0 !important;
  padding: 10px !important;
  pointer-events: none !important;
  transition: .3s;
  border-radius: 5px;
}
#side_menu ul li span{
  transition: .3s;
}
#side_menu ul li:hover,#side_menu ul li:hover a,#side_menu ul li:hover span{
  background-color: rgb(74,77,84) !important;
}
#side_menu ul li a{
  transition: .3s;
  text-decoration: none !important;
  pointer-events: auto !important;
}
#side_menu ul li img{
  display: none !important;
}
#cs_mainInfo{
  border: none !important;
}
#cs_mainInfo h3{
  border: none !important;
  background-color:#12172a !important;
  padding:8px 12px !important;
  border-radius:5px !important;
}
#cs_mainInfo img{
  display: none !important;
}
#cs_mainInfo p:nth-of-type(n+2){
  display: none !important;
}

/* フッター */
#footer{
  display: none !important;
}
